header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.headerInfo {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100vw;
    padding: 20px;
}

p {padding: 20px 10px;} 

.home {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}

.products {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
}

.faq {
    background-color: rgba(250, 150, 170, 1);
    color:  rgba(255, 255, 255, 1);
}

.member {
    background-color: rgba(247, 240, 242, 1);
}

.member > h1 {
    color: rgba(250, 150, 170, 1);
}