.product {
    width: 90vw;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.productImg {
    width: 90vw;
    height: auto;
}

.priceButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.productBtn {
    padding: 0 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
    height: 30px;
    cursor: pointer;
}