form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgba(112, 112, 112, 1);
    text-align: left;
}

input, textarea {
    border: 1px solid rgba(112, 112, 112, 1);
    line-height: 2;
}

.error {
    color: red;
}