.burgerMenu {
    background-color: rgba(1, 1, 1, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    align-items: flex-end;
    height: 20vh;
}

li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    margin-top: 30px;
}